body {
  background-color: rgb(112, 118, 142);
  margin: 0em;
}

.accessibility {
  display: flex;
  background-color: var(--beige);
  font-size: 1.3em;
  gap: 2em;
  padding: 5px;
  justify-content: right;
}

#CurrentLang {
  border-bottom: solid 1px black;
  padding: 1px;
}

#font_size {
  font-size: 0.8em;
  padding: 3px;
  border-radius: 5px;
}

#languages {
  display: grid;
  margin-right: 1em;
  gap: 0.2em;
  grid-template-columns: 1fr 0.2fr 1fr;
}

#languages > p,
h3 {
  font-size: 1.3em;
  margin: 0;
}

#languages > p > img {
  width: 1em;
  margin-right: 3px;
}

.menu {
  background-color: var(--brown);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-style: groove hidden hidden hidden;
}

#logo {
  padding: 1em 0.5em 0.5em 1em;
}

#links {
  padding-right: 2em;
  padding-bottom: 0.2em;
  padding-left: 2em;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5em;
  justify-content: end;
}

#links > a,
a:visited {
  color: white;
  text-decoration: none;
  margin: auto;
  font-size: 2em;
}

.grid-container {
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 1em;

  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1.5em;
  background-color: rgb(112, 118, 142);
  padding: 10em;
  padding-left: 8em;
  padding-right: 10em;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3em 1fr 1fr 8em;
  gap: 1.5em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
}

.grid-big {
  grid-row-start: 1;
  grid-row-end: span2;

  border-style: hidden groove hidden groove;
  padding: 10px;
  margin-bottom: 150px;
}

.grid-mini {
  border-style: groove;
  grid-row-start: 1;
  grid-row-end: 3;

  grid-column-start: 3;
  grid-column-end: 3;
  padding: 10px;
}

ul.list {
  list-style-type: square;
  line-height: 30px;
  color: white;
}

img {
  width: 350px;
  height: 150px;
}

.info {
  bottom: 0;
  color: rgb(112, 118, 142);
  border-style: groove hidden hidden hidden;
  border-color: black;
  width: 100%;
  background-color: var(--brown);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.UnderInfoTitle {
  color: beige;
  font-size: 2.5em;
}

.UnderInfo {
  color: beige;
  border-bottom: 1px solid beige;
  font-size: 22px;
  list-style: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

.Students {
  color: beige;
  font-size: 20px;
  list-style: none;
  padding-bottom: 5px;
}
